/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: var(--font-family);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --font-family: "Lexend", sans-serif;
    --color-text: #111;
    --color-main: #80c1c9;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
    width: 100%;
    padding: 5% 10%;
    color: var(--color-text);
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* .nav-container {
    background-color: var(--color-main);
} */

/* Small screens */
@media (max-width: 375px) {
    .list-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .list-container li {
        margin: 0.5% 0 0.5% 0;
        padding: 10%;
        font-size: 1.8em;
        background-color: var(--color-main);
    }
}

/* Big screens */
@media (min-width: 376px) {
    .list-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
    }

    .list-container li {
        margin: 0.5% 0 0.5% 0;
        padding: 2.5% 5% 2.5% 5%;
        font-size: 1.8em;
        background-color: var(--color-main);
    }
}
