*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --font-family: "Lexend", sans-serif;
    --color-text: #111;
    --color-main: #80c1c9;
    --color-a: #fff;
    --color-cardbg: #80c1c9;
    --color-navbutton: #80c1c9;
    --color-navtext: #fff;
    --color-background: #fff;
    --color-currentnav: #80c1c9;
    --color-currentnavtext: #80c1c9;
    --button-radius: 0.3em;
    --image-visibility: block;
    --button-bgcolor: #fff;
    --button-color: #1d575e;
    --button-border: border:1px solid #1d575e;
}

:root[data-color-mode="dark-mode"] {
    --font-family: "Lexend", sans-serif;
    --color-text: #fff;
    --color-background: #1d2a35;
    --color-cardbg: #1d575e;
    --color-navbutton: #1d575e;
    --color-currentnav: #1d575e;
    --color-currentnavtext: #fff;
    --button-radius: 0.3em;
    --image-visibility: block;
    --button-bgcolor: #fff;
    --button-color: #1d575e;
    --button-border: none;
}

:root[data-color-mode="contrast-mode"] {
    --color-background: #000000;
    --color-navbutton: #fff;
    --color-currentnav: #f3db05;
    --color-cardbg: #1d575e;
    --color-text: #fff;
    --color-navtext: #000000;
    --color-currentnavtext: #fff;
    --filter-white: brightness(0) invert(1);
    --button-radius: 0;
    --color-cardbg: #fff;
    --image-visibility: none;
    --button-bgcolor: #000000;
    --button-color: #000000;
    --button-border: none;
}

.aria-invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.08em;
    margin: -0.08em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.08em;
}

html {
    max-width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--color-background);
    height: 100%;
    width: 100%;
    padding: 5% 10%;
    color: var(--color-text);
    margin: 0 auto;
    letter-spacing: 0.08em;
}

header img {
    filter: var(--filter-white);
}

/* header ul li button { 
    background-color: white; 
    color: var(--color-main); 
    border: 2px solid var(--color-main);
} */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-a);
}

footer a {
    color: var(--color-text);
}

main section article {
    max-width: 95%;
}

main section article h3 {
    font-size: 1.3em;
    margin: 0.8em 0 2em 0;
}

main section article p {
    font-size: 1.1em;
    margin: 0.8em 0 2em 0;
}

#current {
    background-color: var(--color-background);
    border: 0.1em solid var(--color-currentnav);
    color: var(--color-currentnavtext);
}

/* Small screens */
@media (max-width: 25.9em) {
    h1 {
        font-size: 1.6em;
    }

    main {
        margin-top: 10%;
    }

    nav {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    nav a {
        font-size: 1.5em;
        background-color: var(--color-navbutton);
        color: var(--color-navtext);
        padding: 4.5%;
        margin-bottom: 3%;
        border-radius: var(--button-radius);
    }

    section ul {
        display: flex;
        flex-direction: column;
    }

    section ul li {
        max-height: 60%;
        padding: 4%;
        margin: 4% 0% 4% 0;
        background-color: var(--color-cardbg);
        color: var(--color-navtext);
    }

    section ul li h3 {
        margin: 2% 0 6% 0;
    }

    footer {
        padding-bottom: 5%;
    }

    header ul {
        display: flex;
        align-items: center;
        user-select: none;
        justify-content: space-between;
        margin-bottom: 10%;
    }

    /* header ul li button {
        background-color: var(--button-bgcolor);
        border: var(--button-border);
        color: var(--button-color);
    } */

    li button {
        padding: 0.4em;
        margin: 0 0.4em 0 0.4em;
    }

    main section ul {
        display: flex;
        flex-direction: column;
    }

    main section ul li {
        width: 100%;
        margin-bottom: 10%;
        background-color: var(--color-cardbg);
    }

    main section ul li article {
        padding: 0 5% 5% 5%;
        color: var(--color-navtext);
    }

    main section ul li article h2 {
        margin: 5% 0 0 0;
    }

    main section ul li article p {
        margin: 2.5% 0 5% 0;
    }

    main section ul li img {
        display: block;
        max-width: 100%;
        height: auto;
        display: var(--image-visibility);
        margin-bottom: 5%;
    }
}

/* Big screens */
@media (min-width: 26em) {
    header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    header a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header a img {
        max-width: 30%;
    }

    h1 {
        font-size: 2em;
    }

    nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        margin-top: 4%;
    }

    nav a {
        font-size: 1.6em;
        background-color: var(--color-navbutton);
        color: var(--color-navtext);
        padding: 2% 4% 2% 4%;
        border-radius: var(--button-radius);
    }

    section ul {
        display: flex;
        justify-content: space-between;
    }

    section ul li {
        width: 30%;
        max-height: 60%;
        padding: 2%;
        margin-bottom: 2%;
        background-color: var(--color-cardbg);
        color: var(--color-navtext);
    }

    section ul li h3 {
        margin-bottom: 5%;
    }

    section {
        margin-top: 6%;
    }

    footer {
        padding-bottom: 5%;
    }

    footer ul li {
        padding: 0.8em 0.8em 0.8em 0;
    }

    header ul {
        display: flex;
        align-items: center;
        user-select: none;
        justify-content: space-between;
        width: 30%;
    }

    li button {
        padding: 0.8em;
        margin: 0 0.4em 0 0.4em;
    }

    main section ul {
        display: flex;
        justify-content: space-around;
    }

    main section ul li {
        width: 35%;
        margin-bottom: 10%;
        background-color: var(--color-cardbg);
    }

    main section ul li img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    main section ul li article {
        padding: 0 5% 5% 5%;
        color: var(--color-navtext);
    }

    main section ul li article h2 {
        margin: 5% 0 0 0;
    }

    main section ul li article p {
        margin: 2.5% 0 5% 0;
    }

    main section ul li img {
        display: block;
        max-width: 100%;
        height: auto;
        display: var(--image-visibility);
        margin-bottom: 5%;
    }
}
